h1 {
    text-align: center;
    padding-top: 5vw;
    margin-block-start: 0em;
}

html {
    background-color: midnightblue;
}

body {
    width: 60%;
    margin: auto;
    background-color: ghostwhite;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 5px 10px 5px #888888;
    border-radius: 25px;
    font-size: 115%;
}

@media (max-width: 600px) {
.listElement {
    font-size: 4vw;
}

.listElement {
    height: 7vw;
}

#repurchaseList, #purchaseList {
    width: 90%;
}
}

@media (min-width: 601px) {
.listElement {
    font-size: 3vw;
}

#repurchaseList {
    float: left;
}

.listElement {
    height: 5vw;
}

#repurchaseList, #purchaseList {
    width: 40%;
}
}

@media (min-width: 801px) {
    .listElement {
        font-size: 2vw;
    }
    
    #repurchaseList {
        float: left;
    }
    
    .listElement {
        height: 3vw;
    }
    
    #repurchaseList, #purchaseList {
        width: 40%;
    }
    }

#output1, #output2 {
    padding-bottom: 10px;
}

.listElement {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 5px;
}

.listElement:last-child {
    border-bottom: 1px solid black;
}

#repurchaseList, #purchaseList {
    padding-bottom: 5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    margin: auto;
}

#clear {
    clear: both;
}

#itemCount1, #itemCount2 {
    float: left;
    width: 35%;
}

#selectAll, #selectActive, #selectCompleted {
    float: left;
}

.items {
    float: left;
}

.completedItems {
    text-decoration: line-through;
}

.checkBox {
    float: left;
    width: 10%;
}

.itemBtn {
    float: right;
    margin-right: 5px;
}

footer {
    font-size: 0.75rem;
    padding-left: 15px;
    padding-bottom: 5px;
}