h1 {
    text-align: center;
    padding-top: 5vw;
}

html {
    background-color: gainsboro;
}

body {
    width: 60%;
    margin: auto;
    background-color: ghostwhite;
    height: 100%;
}

#output {
    padding-bottom: 10px;
}

.todoElement {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 25px;
    padding-top: 5px;
}

.todoElement:last-child {
    border-bottom: 1px solid black;
}

#repurchaseList, #purchaseList {
    padding-bottom: 10vw;
    padding-right: 20vw;
    padding-left: 20vw;
}

#taskCount {
    float: left;
    width: 35%;
}

#selectAll, #selectActive, #selectCompleted {
    float: left;
}

.tasks {
    float: left;
    width: 70%;
}

.completedTasks {
    text-decoration: line-through;
}

.checkBox {
    float: left;
    width: 10%;
}

.taskBtn {
    float: right;
    margin-right: 5px;
}

footer {
    font-size: 0.75rem;
    padding-left: 15px;
    padding-bottom: 5px;
}